<script type="text/javascript" >
$(document).ready(function()
{
	$(".account").click(function()
	{
		var X=$(this).attr('id');

		if(X==1)
		{
			$(".submenu").hide();
			$(this).attr('id', '0');	
		}else
		{

			$(".submenu").show();
			$(this).attr('id', '1');
		}
	});

	//Mouseup textarea false
	$(".submenu").mouseup(function()
	{
		return false
	});

	$(".account").mouseup(function()
	{
		return false
	});


	//Textarea without editing.
	$(document).mouseup(function()
	{
		$(".submenu").hide();
		$(".account").attr('id', '');
	});
});
	
	</script>
<style>

div.dropdown {
	/*color: #555;
	margin: 3px -22px 0 0;*/
	width: 130px;
	position: relative;
	height: 42px;
	text-align:left;
}
div.submenu
{
	/*background: #fff;*/
	position: absolute;
	/*top: -12px;
	left: -20px;*/
	z-index: 100;
	width: 130px;
	display: none;
	/*margin-left: 10px;*/
	padding: 40px 0 5px;
	/**border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);*/
}

.dropdown  li a {
   /**
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;*/
    width: 92px;
}
/**
.dropdown li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
    
}*/
a.account {
	/*font-size: 11px;
	line-height: 16px;
	color: #555;*/
	position: absolute;
	z-index: 110;
	display: block;

/**
	padding: 11px 0 0 20px;
	height: 28px;
	width: 100px;
	margin: -11px 0 0 -10px;
*/


	text-decoration: none;
	background: url(i/arrow.png) 116px 17px no-repeat;
	cursor:pointer;
}
.root
{
	list-style:none;
	margin:0px;
	padding:0px;
	/**font-size: 11px;*/
	padding: 2px 0 0 0px;
	/**border-top:1px solid #dedede;*/
}

.root li
{
	background-color: #63c5c8;
}



</style>


<li>
	<div class="dropdown">
		<a class="account" >
			8/3菜单一览
		</a>
		<div class="submenu" style="display: none; ">
		  <ul class="root">
	        <li >
		      <a href="#Dashboard" >Dashboard</a>
		    </li>	    
		    <li >
		      <a href="#Profile" >Profile</a>
		    </li>
		    <li >
		      <a href="#settings">Settings</a>
		    </li>
		    <li>
		      <a href="#feedback">Send Feedback</a>
		    </li>
		    <li>
		      <a href="#signout">Sign Out</a>
		    </li>
		  </ul>
		</div>
	</div>
</li>
<li>
	<a href="/team/index.php">过往菜单</a>
</li>

<!--{if option_yes('navcomment')}-->
<li><a href="/team/comments.php">评价一下</a></li>
<!--{/if}-->

<!--{if option_yes('navpredict')}-->
<li><a href="/team/predict.php">菜单预告</a></li>
<!--{/if}-->

<!--{if option_yes('navseconds')}-->
<li><a href="/team/seconds.php">秒杀抢团</a></li>
<!--{/if}-->

<!--{if option_yes('usercredit') && option_yes('creditshop')}-->
<li><a href="/credit/creditshop.php">积分商城</a></li>
<!--{/if}-->

<!--{if option_yes('navgoods')}-->
<li><a href="/team/goods.php">热销商品</a></li>
<!--{/if}-->

<!--{if option_yes('navpartner')}-->
<li><a href="/partner/index.php">品牌商户</a></li>
<!--{/if}-->

<!--<li><a href="/help/tour.php">团购达人</a></li>-->

<!--{if option_yes('navforum')}-->
<li><a href="/forum/index.php">讨论区</a></li>
<!--{/if}-->
